<p id="notice"><%= notice %></p>

<h1>Listing Drinks
  <i class="fa fa-glass" aria-hidden="true"></i>
</h1>

<div class="row">
  <table class="table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Country</th>
        <th>Roast type</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <!--  -->
  <!--  -->
    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td><%= drink.name %></td>
          <td><%= drink.cost %></td>
          <td><%= drink.country %></td>
          <td><%= drink.roast_type %></td>
          <td><%= drink.image %></td>
          <td><%= link_to 'Show', drink %></td>
          <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
          <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- row -->

<br>

<%= link_to 'New Drink', new_drink_path, class: "btn btn-info" %>

