<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @drink.cost %>
</p>

<p>
  <strong>Country:</strong>
  <%= @drink.country %>
</p>

<p>
  <strong>Roast type:</strong>
  <%= @drink.roast_type %>
</p>

<p>
  <strong>Image:</strong>
  <%= @drink.image %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
